#board{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    margin: 0 auto;
    height: 800px;
    float: left;
    background-color:white;
}

#board > div{
    width: 100px;
    height: 100px;
}

#ui{
    float: left;
    height:800px;
    width: 430px;
    box-shadow:0px 0px 0px 2px black inset;
}

.white{
    background-color: #EFD9B4;
}

.black{
    background-color: #B68864;
}